body {
    padding: 0px;
    background-image: url('../images/background2.jpg');
}

.header {
    background-image: url('../images/background.png');
    padding-top: 3%;
    padding-bottom: 1%;
}

.header h1 {
    color: black;
    font-family: 'Open Sans';
    font-size: 4em;
    font-weight: 900;
}
