body {
    padding: 0px;
}

.header {
    background-color: red;
    padding-top: 3%;
    padding-bottom: 1%;
}

.header h1 {
    color: black;
    font-family: 'Open Sans';
    font-size: 4em;
    font-weight: 900;
}
